
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  display: flex;
  background: url(https://wallpaperlost.com/images/city-desktop-wallpaper-9.jpg);
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
}

/*body::after {
 content: "";
 background: url(https://wallpaperlost.com/images/city-desktop-wallpaper-9.jpg);
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 position: absolute;
 z-index: -1;
}*/

.left {
  display: flex;
}

.container{
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: black;
  opacity: 0.65;
  border-radius: 5px;
  color: white;
}


form {
  display: inline-block;
}

input{
  padding: 4px 15px 4px 5px;
}

.addListItem{
  display: inline-block;
  background-color:red;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  margin-top:2px;
  padding: 5px 15px;
}

.addListItem:hover{
  cursor: pointer;
  opacity: .8;
}

.removeListItem {
  display: inline-block;
  background-color:red;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  margin-left: 100px;
  margin-top:2px;
  padding: 5px 15px;
}

.removeListItem:hover{
  cursor: pointer;
  opacity: .8;
}

ol {
  padding-left: 20px;
  height: 200px;
}

ol li {
  padding: 5px;
  color: white;
}

ol li:nth-child(even){
  background: #8c99a1;
}

.strike{
  text-decoration: line-through;
}

li:hover{
  cursor: pointer;
 }

.removeButton {
   border: none;
   margin-left: 15px;
   border-radius: 3px;
   font-weight: 700;
   background-color: rgba(218, 217, 210, 0.77);
}

.city-data {
 padding: 20px;
 width: 300px;
 margin: 0 auto;
 margin-top: 40px;
 background: black;
 opacity: 0.65;
 color: white;
 border-radius: 5px;
 display: flex;
 flex-direction: column;
 text-align: center;
 height: 400px;
}

.weather-data {
  height: 350px;
}

.get-weather {
  display: inline-block;
  background-color:blue;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px 15px;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.location-info {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

h2 div {
  margin-top: 5px;
  font-size: 18px;
}

.gif-container {
  padding: 20px;
  width: 750px;
  margin: 0 auto;
  margin-top: 40px;
  background: black;
  opacity: 0.65;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: center;
}

.get-gify {
  display: inline-block;
  background-color:blue;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px 15px;
  width: 125px;
  cursor: pointer;
}

.clear-gify {
  display: inline-block;
  background-color:blue;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px 15px;
  width: 125px;
  cursor: pointer;
}

.gif {
  height: 380px;
}

.gify-button {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

img {
  margin: 10px;
  opacity: 1;
}
